# dependencies
node_modules

# env
.env
.env.*

# git
.git
.gitignore

# docker
.dockerignore
Dockerfile

# docs & config
README.md
API_DOCUMENTATION.md
drizzle.config.js
migrations


# python cache (kalau ada)
__pycache__
*.pyc
*.pyo
